<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsadevtech.jsa.vgc"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main_screen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".invitados_screen"
            android:label="VGC Invitados" >
        </activity>
        <activity
            android:name=".horarios_screen"
            android:label="Horarios VGC" >
        </activity>
        <activity
            android:name=".plano_screen"
            android:label="Plano VGC" >
        </activity>
        <activity
            android:name=".comprar_screen"
            android:label="Donde Comprar" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".mapsView"
            android:label="@string/title_activity_maps_view" >
        </activity>
        <activity
            android:name=".comprar_fisico_screen"
            android:label="@string/title_activity_comprar_fisico" >
        </activity>
    </application>

</manifest>
