<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsadevtech.jsa.vgc"
    android:versionCode="101"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_vgc_blanco"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".screens.main_screen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.plano_screen"
            android:label="Plano VGC" >
        </activity>
        <activity
            android:name=".screens.comprar_screen"
            android:label="Donde Comprar" >
        </activity>
        <activity
            android:name=".screens.mapsView_screen"
            android:label="@string/title_activity_maps_view" >
        </activity>
        <activity
            android:name=".screens.comprar_fisico_screen"
            android:label="@string/title_activity_comprar_fisico" >
        </activity>
        <activity
            android:name=".screens.comprar_online_screen"
            android:label="Comprar Online" >
        </activity>
        <activity
            android:name=".screens.informacion"
            android:label="@string/title_activity_informacion" >
        </activity>
        <activity
            android:name=".screens.invitados_asy_screen"
            android:label="@string/title_activity_informacion" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA9hAPI5Y-VdhhXqSCm_p9qqZEU9cgcLFU" />

        <activity
            android:name=".screens.zonas_screen"
            android:label="@string/title_activity_vgc_screen" >
        </activity>
        <activity
            android:name=".screens.about_screen"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".screens.twitter_screen"
            android:label="@string/twitter_button" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8bdf62d39f6bd7d6c366e4c24f2376e8c1f9f198" />

        <activity
            android:name=".screens.actividades_screen"
            android:label="@string/title_activity_actividades_screeen" >
        </activity>
        <activity
            android:name=".screens.webActividades_screen"
            android:label="@string/title_activity_web_actividades_screen"
            android:parentActivityName=".screens.actividades_screen">
        </activity>


        <service android:name=".auxiliars.NotificationService"/>
    </application>

</manifest>
